/*A number of classes via Google itself, obtained via Chrome's Inspector */

body {
    
    font-family: sans-serif, serif;
    
}

a {
    
    color: #000;
    text-decoration: none;
    
}

a:hover {
    
    text-decoration: underline;
    
}

nav {
    
    background-color: #fff;
    
}

.footer {
    
    background-color: #f2f2f2;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    height: 35px;
    bottom: 0px;
    position: absolute;
    width: 100%;
    font-size: small;
    overflow: hidden;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;

    
}

.footer a {
    
    color: #666;
    white-space: nowrap;
    line-height: 35px;
    vertical-align: middle;
    
}

a:visited {
    
    color: #609;
    
}

._Gs {
    
    vertical-align: middle;
    padding-left: 15px;
    word-wrap: normal;
    display: inline-block;
}


#fsr {
    
    float: right;
    margin-right: 25px;
    
}


.header {
    
    min-width: 980px;
    width: 100%;
    font-size: small;
    
}

.header a {
    
    color: #666;
    white-space: nowrap;
    line-height: 35px;
}


img.Google {
    
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.buttons {
    
    display: inline-block;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    
    height: 36px;
    line-height: 27px;
    background-image: webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    
}


input {
    
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 480px;
    background: #fff;
    color: #222;
    line-height: 0;
    overflow: visible;
    white-space: nowrap;
    background-color: #fff;
    height: 42px;
    vertical-align: top;
    padding: 0;

    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    
}

img {
    
    vertical-align: middle;
}


.gb_b {
    
    display: inline-block;
    outline: none;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
    background-position: -132px -38px;
}

.gb_bc {
    
    background-image: url(http://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    -webkit-background-size: 528px 68px;
    background-size: 528px 68px;
    
}


.gb_Lc {
    background-color: rgba(0,0,0,1);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin: 5px;
    padding: 0 2px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.gb_Lc.gb_Mc {
    background-position: -194px -21px;
}

#gb#gb a.gb_b {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.gb_Hc .gb_b {
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
}
